@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Roboto';
    font-weight: 200;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    gap: 40px;
}

#main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
    border: 2px solid #333;
}

.grid-squares {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid grey;
    background-color: white;
}

#button-box {
    display: flex;
}

.new-grid-button {
    width: 200px;
    height: 70px;
    background-color: transparent;
    font-size: 20px;
    border-radius: 15px;
    border: 2px solid #333;
    color: black;
}

#color-palette {
    height: 640px;
    width: 150px;
    background-color: rgb(174, 183, 192);
    border-radius: 15px;
    border: 2px solid #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.red-button, .blue-button, .yellow-button, .black-button, .erase-button {
    height: 100px;
    width: 100px;
    border-radius: 90px;
    margin: 15px;
    border: 2px solid #333;
    color: black;
}

.red-button {
    background-color: red;
}

.blue-button {
    background-color: blue;
}

.yellow-button {
    background-color: yellow;
}

.black-button {
    background-color: black;
}

.erase-button {
    background-color: white;
    font-size: 20px;
}

#options-toolbar {
    height: 640px;
    width: 150px;
    background-color: rgb(174, 183, 192);
    border-radius: 15px;
    border: 2px solid #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-on-button, .grid-off-button, .hover-mode-button, .click-mode-button {
    height: 110px;
    width: 110px;
    border-radius: 100px;
    margin: 25px;
    border: 2px solid #333;
    color: black;
    background-color: white;
    font-size: 20px;
}